/* md */
@media(max-width:992px) {
  .header {
    padding: 28px 39px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 100%;
  }

  .about__item {
    /* padding: 0; */
    flex-direction: column;
    align-items: center;
  }

  .about__item::before {
    content: "";
    margin-bottom: 15px;
  }

  .teacher__item {
    margin-bottom: 30px;
  }

  .teacher__item--img {
    width: 100%;
    border-radius: 35px 35px 0px 0px;
  }

}

/* sm */
@media(max-width:768px) {
  .header {
    padding: 30px 53px;
  }

  .header__container {
    flex-direction: column;
    align-items: center
  }

  .header__logo {
    margin-bottom: 30px;
  }

  .header__item:not(:last-child) {
    margin-right: 56px;
  }


  .hero__picture {
    display: none;
  }

  .about__list {
    margin-bottom: 60px;
  }

}

/* xs */
@media (max-width:576px) {

  .header {
    padding: 25px 15px;
    color: white;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    margin-bottom: 0px;
  }

  .header__burger {
    display: block;
    transition: outline .5s, background-color .5s, width .5s;
  }

  .header__nav {
    display: none;
    position: absolute;
    padding: 70px 20px 20px 20px;
    right: 0;
    top: -300px;
    height: 300px;
    color: white;
    background-color: var(--blue-color);
    z-index: 2;
  }

.header.open .header__nav {
  display: block;
}
  .header__list {
    display: block;
  }

  .header__link {
    font-size: 21px;
    display: block;
    padding: 10px;
  }

  .header.open .header__nav {
    transform: translateY(100%);
  }


  .hero__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero__title {
    font-size: 30px;
    line-height: 100%;
  }

  .hero__text {
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    font-size: 16px;
    line-height: 19px;
  }

  .about__title {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-size: 20px;
    line-height: 130%;

  }

  .about__content {
    margin-top: 50px;
  }

  .about__content::before {
    content: "";
    display: none;
  }

  .about__list {
    margin-bottom: 50px;
  }

  .about__item {
    margin-bottom: 30px;
  }

  .about__item {
    /* padding: 0; */
    flex-direction: row;
    align-items: center;
  }

  .teachers {
    padding: 50px 0;
  }

  .teacher__item--img {
    border-radius: 42px 42px 0px 0px;
  }

}